body {padding-top: 50px;
      font-family: 'raleway', sans-serif;}

.bg-1 {background: #3b423f;
       color: #ffffff;
       padding: 10px;
       padding-top:30px;}

.bg-2 {background: #315649;
       color: #ffffff;
       padding: 10px;
       padding-top: 30px;}

.bg-3 {background: #ffffff;
       padding: 10px;}

.bg-4 {color: #3b423f;}

.bg-5 {color: #3b423f;
       text-align: left;}
